html{
background-image:url('https://basicuse.net/var/plain_site/storage/images/media/images/articles/prog_lang/textile/html_css/animated_falling_snow_using_keyframes_in_css3/falling_snow_animation_in_action/265031-1-eng-GB/falling_snow_animation_in_action.gif') ;
background-size: cover;
}
body{
 font-family:'courier New' ;
 min-width: 960px;
 width: 90%;
 margin:0;
 padding: 0%;
}
body header{
    font-family:'courier New' ;
    font-weight: bold;
    min-width:111%;
    width: 1425px;
    margin:0;
    padding: 0%;
}
body main{font-family:'courier New' ;
    min-width: 960px;
    width: 90%;
    margin:0 auto;
    padding: 1%;
}
.container{
    width: 80%;
    margin: 0 auto;
}
header{
    background: #235E6F
}
header::after {
    content:'';
    display: table;
    clear: both;

}
.logo{
  align-content: left;
  padding-top:10px;
  padding-left: 170px;
  padding-bottom: 10px;
  max-width:300px;
  max-height: 90px;
}
nav{
    padding-right: 15%;
    float: right;

}
nav ul{
    margin:5px;
    padding: 0;
    list-style: none;
}
nav li{
    display: inline-block;
    margin-top: 20px;
    margin-left:90px;
    padding-top:25px;

    position: relative;
}
nav a{
    color:#f1553c;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}
nav a:hover{ 
    color:rgb(0, 0, 0)
}
nav a::before{
    content: '';
    display: block;
    height: 5px;
    width:100%;
    background-color: #34A65F;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}
nav a:hover::before{
    width: 100%;
}

section h1{
font-weight: bold;
}
footer{
text-align:center;
clear:both;
}
h1 {
text-decoration:underline; 
}
h2 {
 line-height: 2;
}
section h4{
font-weight:bold;
}
